footer{
    margin-top: 50px;
    padding: 25px 0px;
    background-color: var(--box);
    p{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        display: block;
        margin: 0;
        a{
            text-transform: capitalize;
            color: var(--active);
            font-weight: 500;
        }
    }
}