header.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease-in-out;
    .flex_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo_site,
        .button_site {
            flex: 0 0 300px;
        }
        .links_site,
        .button_site {
            display: flex;
            align-items: center;
            a {
                color: var(--cb);
                font-size: 14px;
                font-weight: 500;
            }
        }
        .logo_site {
            img {
                width: 200px;
                height: 80px;
                object-fit: contain;
            }
        }
        .links_site {
            gap: 35px;
            flex: 0 0 calc(100% - 600px);
            justify-content: center;
            a {
                transition: 0.3s ease-in-out;
                &:hover {
                    color: var(--active);
                }
            }
        }
        .button_site {
            justify-content: flex-end;
            a {
                height: 35px;
                min-width: 110px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(0.97);
                }
            }
            a.signup {
                background-color: var(--active);
                color: var(--cw);
            }
        }
    }
}
header.mainHeader.hasBg {
    background: white;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.0784313725);
    .inner_header .left_likns .links_header a {
        color: var(--cb);
    }
    .mobileBtn {
        color: var(--cb);
    }
}
.mobile_nav {
    font-size: 30px;
    display: none;
    cursor: pointer;
}
.mobile_sidebar_wraps {
    .logo {
        margin-top: 20px;
        display: block;
        img {
            width: 150px;
            height: 70px;
            object-fit: contain;
            object-position: left;
        }
    }
    .list_link_mobile {
        padding-top: 5px;
        padding-left: 20px;
        a {
            display: block;
            color: var(--cb);
            margin-bottom: 20px;
            font-weight: 500;
        }
    }
}
